/* リセットcss */
/*　! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* ↑ここまで */

/* header */
.globalnav {
  width: 100%;
  margin-top: 20px;
  background: #333;
}
.globalnav ul {
  padding: 10px 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.navitem {
  border-left: 1px solid #999;
  text-align: center;
  flex: 0 1 22%;
}
.navitem:last-of-type {
  border-right: 1px solid #999;
}
.navitem a {
  display: block;
  line-height: 1;
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .nav-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .nav-wrapper {
    margin-top: 5rem;
  }
  .hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }

  .hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: black;
    transition: all 0.5s;
  }

  .hamburger__line--1 {
    top: 1px;
  }

  .hamburger__line--2 {
    top: 18px;
  }

  .hamburger__line--3 {
    top: 36px;
  }

  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }

  .open .hamburger__line--2 {
    opacity: 0;
  }

  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }

  .sp-nav {
    position: fixed;
    right: -100%;

    top: 0;
    width: 70%;

    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto;
  }

  .open .sp-nav {
    right: 0;
  }

  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }

  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }
  .globalnav {
    display: none;
  }

  .spNaveItem {
    font-size: 24px;
    padding: 2rem;
  }
}

/* 共通css */
.flex {
  display: flex;
}
.column {
  flex-flow: column;
}
.itemsCenter {
  align-items: center;
  justify-content: center;
}
.itemsBottom {
  margin-top: auto;
}
.boldFontStyle {
  font-size: 2em;
  font-weight: bold;
}
.textLeft {
  text-align: left;
}
.mincho {
  font-family: yumincho, "ヒラギノ明朝 pron ", "msp明朝", serif;
}
.MaxWidth {
  max-width: 20%;
}
@media only screen and (max-width: 767px) {
  .spColumn {
    flex-direction: column;
  }
  .spCenter {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }
}

.customLink {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}

.customLink::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0;
  height: 2px;
  background-color: black;
  transition: 0.3s;
  transform: translateX(-50%);
}

.customLink:hover::after {
  width: 100%;
}

/* top */
.topConteiner {
  margin-top: 7%;
  margin-left: 5%;
}
.topNewsContainer {
  margin-top: 2rem;
}
.topNewsRow {
  margin-top: 2rem;
}
.topTitleRow {
  margin-bottom: 3rem;
}
.topImageContainer {
  margin-right: 10rem;
}
.topImage {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .topImageContainer,
  .topConteiner {
    margin: 0 auto;
  }
}

/* profile */
.profileContainer {
  margin-top: 3%;
  margin-left: 5%;
}
.profileNameFont {
  font-size: 18px;
  font-weight: bold;
  margin-top: 2rem;
}
.profileDetailFont {
  font-size: 16px;
  margin-top: 2rem;
  line-height: 25px;
}
.profileDetailContainer {
  width: 70%;
}
.profileImageContainer {
  margin-right: 10rem;
}
.profileSnsLink {
  margin-top: 2rem;
}

/* concert */
.concertXmasConcertContainer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.concertTitleFont {
  font-weight: bold;
  font-size: 20px;
}
.concertLineHeight {
  line-height: 40px;
}

/* lesson */
.lessonContainer {
  margin-top: 3%;
  margin-left: 5%;
}
.lessonTitle {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 2rem;
}
.lessonDetail {
  margin-bottom: 3rem;
}
.lessonPriceFont {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}
.lessonPriceTextContainer {
  line-height: 30px;
  margin-bottom: 2rem;
}
.LessonTableBottom {
  margin-bottom: 4rem;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

table tr {
  background-color: #e6f2f5;
  border-bottom: 2px solid #fff;
}
table th,
table td {
  padding: 1rem 0 1rem 0;
  border-right: 2px solid #fff;
  text-align: center;
}
table th {
  font-size: 0.85em;
}
table thead tr {
  background-color: #167f92;
  color: #fff;
}
table tbody th {
  background: #78bbc7;
  color: #fff;
}
.lessonPrice {
  color: #167f92;
  font-weight: bold;
}
.noneTh {
  background: #fff;
}

.LessonMovieLessonContainer {
  margin-bottom: 2rem;
}

/* sns */
.snsContainer {
  margin-top: 3%;
  margin-left: 5%;
}
.snsTitleFont {
  font-size: 32px;
  margin-bottom: 2rem;
}

.snsDetailContainer {
  line-height: 35px;
}
