p {
  position: relative;
  top: -70px;
  left: 130px;
}
img {
  position: relative;
  top: 10px;
  left: 120px;
}
h5 {
  position: relative;
  top: -50px;
  left: 130px;
}
.mincho {
  font-family: yumincho, "ヒラギノ明朝 pron ", "msp明朝", serif;
}

h1 {
  position: relative;
  top: -180px;
  left: 520px;
}
